*{

}
body{
	background-image: url('../Images/Background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

.text {
	font-size: 35px;
	text-align: center;
	font-family: fantasy;
	color: #4F331A ;
}

.pamphlet{
	display: block;
	margin: auto;
  	width:90%;
  	height: auto;
}

.link{
	width: 100%;
}

ul,.info{
	font-size: 12px;
}

.info{
	height: 25%;
	color: #4F331A;
	font-family: serif;
    background-color: #F3C892;
}

/** html {
	font-size: 62.5%;
}

body {max-width: 100%;
	min-width: 45ch;
	background-color: #00FFAC;
	font-size: 2.0rem ; 
	font-family: serif;
	 }
.contentbox{
	width: 75%;
	height: 75%;
	padding: 40px ;
	margin: 10px 10% 10px 10% ;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.mainheader{
	font-size: 6.8rem;
	font-style: italic;
	text-shadow: -5px 5px #00FF2D;
}

.mainheaderinfo:first-letter{
	font-size: 4.0rem;
	font-style: italic;
	text-shadow: -5px 5px #00FF2D;
}

.mainheaderinfo {line-height: 120%;
	max-width:100ch;
	text-align: justify;
	font-size: 2.0rem;

}

.info h2.header{
	font-size: 4.0rem;
	font-style: italic;
	text-shadow: -5px 5px #00FF2D
}

.info h3.header {
	font-size: 3.2rem;
	font-style: italic;
	text-shadow: -5px 5px #00FF2D
}

div.info p {
	line-height: 120%;
	max-width:100ch;
	text-align: justify;
	font-size: 2.0rem;
}


div.malnourishedphotos{
	border-style: outset;
	border-color: #00D3FF;
	min-width: 100px;
	min-height: 100px;
	max-width: 750px;
	max-height: 750px;
	background: #00FF2C;
	overflow: hidden;
}

div.Moreanory,a:link { 
	color:#000000;
}

div.Moreanory,a:visited {
	color: #dimgray;
}

div.Moreanory,a:hover{
	color: white;
}

div.Moreanory,a:active {
	color:#db5b00 ;

}
div.footer a{
	display: inline-block;
	width: 100%;
	background-color: #FFAC00;
	max-width: inherit;
}

**/ 